<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.warbyparker.com/">Warby Parker</a></li>
			<li><a href="http://www.warbyparker.com/Showrooms#warbyparker">Appointment</a></li>
			<li><a href="http://www.warbyparker.com/inquiries/">FAQ</a></li>
			</ul>
			</nav>
			
	</footer>