<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails James Lemaire sample App | Home</title>
	</head>
	<body>
		<h1>About Us</h1>
		<p>James Lemaire is a web developer he has alot of experiences. He has been creating applications
		  and websites for personal use and commercial entreprise. So if you need a web site James is the application developer to consult cause will be in great hands.	</p>
			</body>
			</html>