<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Warby P sample App | Home</title>
	</head>
	<body>
		<h1>About Us</h1>
		<p>Warby Parker is an online retail optical glasses and shades.
			 We are all about making glasses affordable to everyone, 
			 for this reason we are offering the buy one of our glasses 
			and we will donate a pair to someone in needs. Thanks for shopping with us.
			</a>
			</body>
			</html>