<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails James Lemaire sample App | Home</title>
	</head>
	<body>
		<h1>Contact Us</h1>
		<p>This is the contact page for James Lemaire
			<a href="http://jamesl11.com/">Site</a>
			sample application
			</a>
			</body>
			</html>