<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Warby P sample App | Home</title>
	</head>
	<body>
		<h1>Contact Us</h1>
		<p>This is the contact page for Warby ParKer
			<a href="http://warbyparker.com/">Site</a>
			sample application
			</a>
			</body>
			</html>