<h1>Help</h1>
<p>
<<<<<<< HEAD
	Get help on James web site at the
	<a href="http://jamesl11.com">Developer's Help Page</a>
=======
	Get help on Warby Parker web site at the
	<a href="http://warbyparker.com/inquires">Warby Parker Help Page</a>
>>>>>>> modeling-users
	</p>