<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails James Lemaire App | Home</title>
	</head>
	<body>
		<h2>Welcome to My Ruby on Rails App</h2>
		<p>This is a Ruby on Rails version home page for
			<a href="http://jamesl11.com/">James Lemaire</a>
			sample application. 
			</a>
			I built this site like twitter so it has all the similar functionalities. Check it out!
			</p>
			<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
			</body>
			</html>
