<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Warby P sample App | Home</title>
	</head>
	<body>
		<h1>Warby Parker App</h1>
		<p>This is a Ruby on Rails version home page for
			<a href="http://warbyparker.com/">Warby Parker</a>
			sample application.
			</a>
			</p>
			<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
			</body>
			</html>
